.detail {
  flex: 1;
  position: relative;

  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      text-align: center;
    }
  }

  .close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
    color: white;
    border-radius: 50%;

    img {
      width: 25px;
      height: 25px;
      opacity: 0.9;
    }
  }

  .close-btn:hover {
    background-color: rgba(17, 25, 40, 0.5);
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .option {
      height: 35px;
      cursor: pointer;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30px;
          height: 30px;
          background-color: rgba(17, 25, 40, 0.3);
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .no-images {
        color: white;
        text-align: center;
        padding: 20px;
        font-weight: 500;
        background-color: rgba(17, 25, 40, 0.233);
      }

      .photos {
        height: 150px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
      }

      .photos.visible {
        max-height: 500px;
        overflow-y: auto;
        opacity: 1;
        transform: translateY(0);
      }

      .photo-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        padding: 10px;
        border-radius: 4px;
        background-color: rgba(17, 25, 40, 0.233);
      }

      .photo-detail {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .photo-detail img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 4px;
      }

      .icon {
        width: 20px;
        cursor: pointer;
      }
    }
  }

  .block-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60%;
    padding: 15px;
    background-color: rgba(230, 74, 105, 0.533);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(220, 20, 60, 0.796);
    }
  }
}
