.chat-list {
  flex: 1;
  overflow-y: auto;
  position: relative;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .search-bar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .emoji-text {
        display: flex;
        gap: 6px;
        align-items: center;

        span {
          font-size: 14px;
          font-weight: 400;
        }

        .camera-emoji {
          padding-bottom: 5px;
        }
      }

      span {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }

  .timestamp {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: #aaaaaa;
  }

  .chat-actions {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }

  .menu-icon {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    bottom: 24px;
    right: 0;
    height: auto !important;
    background-color: white;
    border: 1px solid #ccc;
    padding: 6px 0;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .dropdown-menu > div {
    padding: 6px 12px;
    cursor: pointer;
  }

  .dropdown-menu > div:hover {
    background-color: #f0f0f0;
  }
}
