.chat-list {
  flex: 1;
  overflow-y: auto;
  overflow: visible;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .search-bar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;
    overflow: visible;
    z-index: 1;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .emoji-text {
        display: flex;
        gap: 6px;
        align-items: center;

        span {
          font-size: 14px;
          font-weight: 400;
          color: #aaaaaa;
        }

        .camera-emoji {
          padding-bottom: 5px;
        }
      }

      span {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }

  .timestamp {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: #aaaaaa;
  }

  .menu-icon {
    cursor: pointer;
    height: 15px !important;
    width: 15px !important;
  }

  .dropdown-menu {
    position: absolute;
    top: 0%;
    left: 150%;
    min-width: 130px;
    background-color: rgb(17, 25, 40);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
  }

  .dropdown-menu div {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 6px;
    background-color: rgb(17, 25, 40);
  }

  .dropdown-menu div:hover {
    background-color: rgba(28, 40, 65, 0.945);
  }

  .dropdown-menu.open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}
