.chat-list {
  flex: 1;
  overflow-y: auto;
  overflow: visible;

  .search {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .search-bar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

      input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        flex: 1;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;
    overflow: visible;
    position: relative;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .texts {
      display: flex;
      flex-direction: column;
      gap: 2px;
      flex: 1;
      max-width: 65%;

      .emoji-text {
        display: flex;
        gap: 6px;
        align-items: center;

        span {
          font-size: 14px;
          font-weight: 400;
          color: #aaaaaa;
        }

        .camera-emoji {
          padding-bottom: 5px;
        }
      }

      span {
        font-weight: 500;
        font-size: 18px;
      }
    }
  }

  .last-message {
    font-size: 14px;
    font-weight: 400;
    color: #aaaaaa;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    max-height: 2.8em;
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }

  .timestamp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .timestamp {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
  }

  .unseen-indicator {
    width: 14px;
    height: 14px;
    background-color: #5183fe;
    border-radius: 50%;
  }

  .chat-actions {
    padding: 10px;
  }

  .menu-icon {
    cursor: pointer;
    height: 30px !important;
    width: 30px !important;
    padding: 8px !important;

    &:hover {
      background-color: rgba(17, 25, 40, 0.3);
    }
  }

  .dropdown-menu {
    position: absolute;
    bottom: 0;
    right: 20%;
    min-height: fit-content;
    min-width: 130px;
    width: fit-content;
    background-color: rgba(81, 130, 254, 0.8);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;
  }

  .dropdown-menu div {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 6px;
  }

  .dropdown-menu div:hover {
    background-color: rgba(81, 130, 254, 1);
    color: rgb(255, 167, 192);
  }

  .dropdown-menu.open {
    opacity: 1;
    transform: translateY(8px);
    pointer-events: auto;
  }
}
