* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "Inter", Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

body {
  background-image: url("./bg.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  width: 90vw;
  max-width: 1440px;
  height: 80vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  display: flex;
  overflow: hidden;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}
